* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
}

button, input[type="submit"] {
    cursor: pointer;
    
    &:disabled {
        cursor: default;
        opacity: 0.7;
    }
}